<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/priceTag.css">
	</head>
	<body>
		<div id="myNmae">(주)충북제일종합주방</div>
		<div id="productName"><%= product.name %></div>
		<div id="tag">
			<div id="upCircle"></div>
			<div id="price"><%= product.price %></div>
			<div id="downCircle"></div>

			<div id="dots">
				<div class="dots" id="dot1"></div>
				<div class="dots" id="dot2"></div>
			</div>
		</div>

		<div id="upperPortion">
			<span id="plus">+</span>
			<span id="minus">-</span>
			<span id="number">0</span>
			<span id="addToCartBack"></span>
			<span id="addToCart">담 기</span>
		</div>
		<div id="cartImg">
			<div id="cartImgBox"></div>
			<svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24"><path fill="#DD4A48" d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
		</div>
	</body>
</html>

<script type="text/javascript" src="/priceTag.js"></script>
